*.orig
*.rej
*~
*.mergebackup
*.o
*.so
*.dll
*.py[cdo]
*$py.class
__pycache__
*.swp
*.prof
\#*\#
.\#*
.coverage
*,cover
htmlcov
build
dist
MANIFEST
httptest.egg-info
.DS_Store
tags
cscope.*
.idea
.tox
